header{
    .header_section{
 
        padding: 0px 110px;
        background-color: transparent;
      
    
       
    }


    .header_section2 {
        padding: 0px 110px;
        background-color: #4a605f;;
   
  }

}