@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }

:root {
    --green: #399C90;
    --white: #ffffff;
  }


  .content_size{
    width: 1700px;
    margin: auto;
    max-width: 100%
  }




                                                                                 /* header styling */

                                                                                 

                                                                                 



  
  
  

.header_sec_number{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
   
}

.header_sec_number::before{
 
    content:url('Assets/images/Icon.png');
    padding-top: 7px;
    padding-right: 5px;
   
}


.header_sec_register{
   height: 40px;
   width: 176px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   font-weight: 300;
     border-radius: 5px;
     
}


.header_sec_register::before{
 
    content:url('Assets/images/register icon.png');
    padding-top: 7px;
    padding-right: 5px;
   
}


.header_book_seat{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
}

.header_book_seat::before{
 
    content:url('Assets/images/Seat icon.png');
    padding-top: 7px;
    padding-right: 5px;
   
}

.header_section{
 
    padding: 0px 110px;
    background-color: transparent;
  

   
}


.header_section2 {
        padding: 0px 110px;
        background-color: #4a605f;;
   
  }


                                                                     /* Navbar Styling */
.header_section_navbar .navbar .nav-link{

    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 0px 0px;
    padding-right: 50px;
}                                                                     


.navborder{

    margin: 0rem 15px;
    color: var(--green);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #2C897E;
    text-decoration: overline;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
}

.btn-link:hover {
    color: #ffffff;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.btn-check:active+.btn-outline-light, .btn-check:checked+.btn-outline-light, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show, .btn-outline-light:active {
    color: white;
    background-color: var(--green);
    border:none;
}

.btn-primary:hover {
    color: white;
    background-color: var(--green);
    border: none;
}

.btn-outline-light:hover {
    color: white;
    background-color: var(--green);
    border:none;
}


                                                                                           /* header mobile  responsive */


 @media only screen and (min-width: 768px ) and  ( max-width:990px)  {
    

    .navbar-light .navbar-toggler {
    
        margin-bottom: 10px;
    }


    .navbar-brand {
     
        margin-right: 0rem;
     
    }

    .header_sec_number {

        font-size: 10px;
        font-weight: 200;
    }

    .header_sec_number::before {
      
       padding-right: 10px; 
 
    }
    .header_sec_register {
        height: 40px;
        width: 166px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 200;
        border-radius: 5px;
    }
    .header_book_seat {
     
        width: 160px;
       
        font-size: 10px;
        font-weight: 200;
    }

    .header_section {
        margin: 0px 70px;
    }

    .header_section2 {
        margin: 0px 70px;
    }

    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 0rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }
 }   
 
 
 @media only screen and (min-width: 600px) and (max-width: 768px)
 
 
 {
    .header_section {
        margin: 0px 0px;
        
        
    }

  

   
   .navbar-light .navbar-toggler {
    
    margin-bottom: 10px;
}




.header_sec_number {

    font-size: 12px;
    font-weight: 200;
}

.header_sec_number::before {
  
   padding-right: 12px; 

}
.header_sec_register {
    height: 40px;
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 200;
    border-radius: 5px;
}
.header_book_seat {
 
    width: 160px;
   
    font-size: 12px;
    font-weight: 200;
}

.logo_header{
    width: 60%;
}

.logo_row{
    justify-content: space-between;
}

.mx-3 {
    margin-right: 0rem!important;
    margin-left: 0rem!important;
}
 }


 @media only screen and (max-width: 600px)  
 
 {
    .header_section {
        padding: 0px 0px;
    }

    .header_section2 {
        padding: 0px 0px;
    }
    
       
       .navbar-light .navbar-toggler {
        
        margin-bottom: 10px;
    }
    
    
    
    .header_sec_number {
    
        font-size: 12px;
        font-weight: 200;
        padding: 0px 0px;
    }
    
   
    .header_sec_register {
        height: 40px;
        width: 166px;
        display: flex;
  
        align-items: center;
        font-size: 10px;
        font-weight: 200;
        border-radius: 5px;
    }
    .header_book_seat {
     
        width: 160px;
       
        font-size: 10px;
        font-weight: 200;
    }
    
    .logo_header{
        width: 60%;
    }


  
    .logo_row{
        justify-content: space-between;
    }

    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 0rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }

    .mx-3 {
        margin-right: 0rem!important;
        margin-left: 0rem!important;
    }
 }




                                                                 /* Footer styling */
.footer_web{
background-color: #1E3954;


}

.footer_req{
    height: 40px;
    width: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 200;
    border-radius: 5px;
    border: none;
    background-color: #0C2945;
}

.footer_location::before{
    content:url('Assets/images/location.png');
    padding-top: 7px;
    padding-right: 5px;
}

.text_styling a{
    text-decoration: none;
}

.footer_section p{
    font-size: 15px;
}



/* banner styling */

.home_page_banner{
  background-image: url('../src/Assets/images/Banner Image.png');

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  padding: 300px 0px;

}


.book_a_tour{
    background-color: var(--white);
    color: black;
    border: none;
}

.tech_incub{
    color: white;
    background-color: var(--green);
    border: none;
}


@media only screen and  (max-width: 768px)
 
 
 { 
    .home_page_banner  p, .home_page_banner  a{
        font-size: 12px;
    } 
  

}


.home_page_join-section{
    padding: 100px 200px;
}

.join_us_home{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    margin: auto;
}


.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--green);
    border:none;
}

@media only screen and ( (max-width: 768px))
 
 
 {

    .home_page_join-section{
        padding: 40px 20px;
    }

 }
 